@import url('https://fonts.googleapis.com/css2?family=Wallpoet&display=swap');

html{
    scroll-behavior: smooth;
    font-family: arial;
}
:root{
    --green : rgb(78, 158, 141);
    --black : #252525;
    --white : #f3eded;
}
*{
    margin: 0px;
    padding: 0px;
}
li{
    list-style: none;
}
ul li{
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--black);
}
.main-div{
    min-height: 100vh;
    width: 100vw;
    background: var(--black);
    background-size: cover;
}
.main{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.welcome{
    text-align: center;
    font-size: 10vw;
    font-family: 'Wallpoet', cursive;
    color: var(--white);
    animation-name: outin-animation;
    animation-duration: 2s;
    text-shadow: 5px 5px 1px rgba(78, 158, 141,0.3);
}
.second-div{
    color: var(--white);
}
.intro{
    word-spacing: 2px;
    font-size: 1.5rem;
    text-align: justify;
    animation-name: zerotobig-animation;
    animation-duration: 2s;
}
.resume-btn{
    margin-top: 20px;
    padding: 12px;
    background: var(--green);
    color: var(--white);
    border: 0px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
}
.resume-btn:active{
    transform: scale(0.90);
}
.third-div{
    margin-top: 150px;
    justify-content: space-between;
    animation-name: outin-animation;
    animation-duration: 2s;
}
.third-div{
    background: rgba(78, 158, 141,0.3);
    padding:15px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.third-div > p{
    cursor: pointer;
}
.skill-from-bottom > img{
    width: 50px;
    padding-left: 20px;
}
.skill-from-bottom{
    position: absolute;
    bottom: -120px;
    margin: 0 auto;
    left: 50%;
    transform: translateX(-50%);
    width: max-content;
    animation-name: bottomtotop-animation;
    animation-duration: 2s;
}

.social-from-right{
    position: absolute;
    right: 20px;
    top: 50%;
    transform:translateY(-50%);
    animation-name: lefttoright-animation;
    animation-duration: 2s;
}
.social-from-right > div > a{
    cursor: pointer;
    color: var(--white);
    font-size: 3rem;
    padding-top: 10px;
}
.social-from-right > div > a:hover{
    font-size: 3.5rem!important;
}
.project-div{
    color: var(--white);
    padding-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    animation-name: zerotobig-animation;
    animation-duration: 2s;
}
.project-div > div{
    width:300px;
    padding: 10px;
    object-fit: contain;
}
.project-img{
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 100%;
}
.innerContact-div > h2{
    text-align: center;
}
.innerContact-div > .desc{
    text-align: justify;
}
.visit{
    color: var(--green);
    font-weight: 800;
    font-size: 1rem;
}
.home-btn{
    position: absolute;
    top: 10px;
    left: 50%;
    padding: 12px;
    background: var(--green);
    color: var(--white);
    border: 0px;
    transform: translateX(-50%);
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer; 
}
@keyframes zerotobig-animation {
    from{transform: scale(0.2);}
    to{transform: scale(1);}
}

@keyframes outin-animation {
    from{transform: scale(2);opacity: 0;}
    to{transform: scale(1);opacity: 1;}
}
@keyframes lefttoright-animation{
    from{right:100px;opacity: 0;}
    to{right:20px;opacity: 1;}
}
@keyframes bottomtotop-animation{
    from{bottom:-160px;opacity: 0;}
    to{bottom:-120px;opacity: 1;}
}

@media (max-width:550px){
    .main{
        width: 80vw;
    }
    .skill-from-bottom > img{
        width: 40px;
    }
    .skill-from-bottom{
        bottom: -100px;
        animation-name: bottomtotop-animation;
        animation-duration: 2s;
    }
    @keyframes bottomtotop-animation{
        from{bottom:-160px;opacity: 0;}
        to{bottom:-100px;opacity: 1;}
    }    
}
